In [6]:
#Biomechanics coursework 1
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
%matplotlib qt

In [7]:
#read in excel data, output as pandas dataframe
all_data = pd.read_excel('Marker_data_2019.xlsx')

#select rows with frame value between 800 and 900
all_data = all_data[(all_data['Frame']>=800) & (all_data['Frame']<=900)]

display(all_data.head())
print('Shape of all_data:', all_data.shape)

,Frame,Time,HEAD ANT X,HEAD ANT Y,HEAD ANT Z,R HEAD X,R HEAD Y,R HEAD Z,L HEAD X,L HEAD Y,...,L SHANK 4 Z,L HEEL X,L HEEL Y,L HEEL Z,L FOOT LAT X,L FOOT LAT Y,L FOOT LAT Z,L FOOT MED X,L FOOT MED Y,L FOOT MED Z
216,800,3.200,959.223,293.988,1661.966,920.253,222.318,1627.001,911.707,367.155,...,252.048,1091.321,349.084,25.898,1248.068,419.737,57.551,1284.873,347.314,92.193
217,801,3.204,965.201,294.703,1661.775,926.129,223.215,1626.757,917.695,367.879,...,250.445,1091.877,348.296,25.668,1249.638,417.611,53.512,1286.505,344.745,87.491
218,802,3.208,971.243,295.777,1661.406,932.170,224.110,1626.497,923.779,368.855,...,249.085,1093.556,346.909,27.602,1251.638,416.234,49.133,1289.823,342.129,81.504
219,803,3.212,977.418,296.741,1661.095,938.370,224.825,1626.299,929.778,369.635,...,248.459,1095.998,345.880,29.687,1254.241,415.463,46.350,1295.091,340.241,76.554
220,804,3.216,983.508,297.649,1660.994,944.409,225.637,1626.079,935.537,370.459,...,248.359,1098.187,346.409,31.246,1257.668,414.034,43.424,1299.845,339.524,73.264

Shape of all_data: (101, 164)

In [8]:
#select columns only containing the keywords
selected_data = []

for i in ['HEAD', 'C7', 'BACK', 'STERNUM', 'ILIAC', 'SACRUM', 'THIGH', 'GTROCH', 'SHANK', 'HEEL', 'FOOT']:
    selected_data.append(all_data.filter(like=i))

selected_data = pd.concat(selected_data, axis=1)
print('Shape of selected_data:', selected_data.shape)

Shape of selected_data: (101, 102)

In [9]:
#list containing column names without X, Y, and Z
body_parts = [i[0:-2] for i in selected_data.columns.to_list()]

#get rid of repeated names
body_parts = pd.Series(body_parts).unique()

#classify by segment and put color code for each class
segment_class = [0,0,0,1,1,1,1,2,2,2,3,3,3,3,4,4,4,4,3,4,5,5,5,5,6,6,6,6,7,8,7,7,8,8]
c = pd.DataFrame({'body_parts':body_parts, 'segment_class':segment_class})

cond_list = [c['segment_class']==i for i in range(max(segment_class)+1)]
choice_list = ['#ff0000','#40ff00','#00ffff','#0000ff','#ffff00','#ff00ff','#ffbf00','#000000','#8000ff']
hex_colors = np.select(cond_list, choice_list)

segment_colors = pd.concat([c, pd.DataFrame({'hex_colors':hex_colors})], axis=1)
segment_colors.head()

  body_parts  segment_class hex_colors
0   HEAD ANT              0    #ff0000
1     R HEAD              0    #ff0000
2     L HEAD              0    #ff0000
3         C7              1    #40ff00
4     R BACK              1    #40ff00

In [21]:
#plot data
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

for i in body_parts:
    this_data = selected_data.filter(like=i)
    c = segment_colors[segment_colors['body_parts']==i]['hex_colors']
    ax.scatter(this_data[i+' X'], this_data[i+' Y'], this_data[i+' Z'], c=c, label=i)

ax.set_title('Gait analysis marker data', fontsize='large', fontweight='bold')
ax.legend(loc='upper right', fontsize='small')
ax.set_xlabel('x (mm)')
ax.set_ylabel('y (mm)')
ax.set_zlabel('z (mm)')
ax.set_xlim(0, 2000)
ax.set_ylim(0, 2000)
ax.set_zlim(0, 2000)
plt.show()